.post-slider__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.post-slider__link {
    display: flex;
    align-items: center;
    gap: 10px;
}
.post-slider__link--next {
    justify-content: flex-end;
    text-align: right;
}
.post-slider__anchor {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}
.post-slider__icon {
    font-size: 18px;
    color: var(--text-color);
    transition: color 0.3s ease-in-out;
}
.post-slider__text h4 {
    font-family: "Alegreya", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #303030;
    margin: 0;
    transition: color 0.3s ease-in-out;
}
.post-slider__icon:hover,
.post-slider__text h4:hover {
    color: var(--main-color);
}
.post-slider__text span {
    display: block;
    font-size: 13px;
    color: #aaa;
}
.post-slider__empty {
    height: 100%;
    width: 100%;
}


