<header class="header" id="mainHeader">
    <div class="container">
        <div class="content">
            <div class="nav-row">
                <div class="logo">
                    <a href="index.html">
                        <img src="../images/bakery-color.png" alt="logo" id="logo-img" width="180" height="50">
                    </a>
                </div>

                <div class="menu-toggle" id="menuToggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="links-container" id="mobileMenu">
                <ul class="listOfLinks">
                    <li><a href="index.html" class="main-link">Home</a></li>
                    <li><a href="about.html" class="main-link">About</a></li>
                    <li><a href="offer.html" class="main-link">Our Offer</a></li>
                    <li><a href="gallery.html" class="main-link">Gallery</a></li>
                    <li class="dropdown">
                        <a href="blog.html" class="main-link">Blog</a>
                        <ul class="dropdown-menu">
                            <li><a href="blog.html" class="secondary-link">Blog Index</a></li>
                            <li><a href="blog-simple.html" class="secondary-link">Simple Post</a></li>
                            <li><a href="blog-gallery.html" class="secondary-link">Gallery Post</a></li>
                            <li><a href="blog-basic.html" class="secondary-link">Basic Post</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html" class="main-link">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

