/* Sidebar Styles */
.sidebar {
    margin: 0 20px;
}
.sidebar__content > div:not(:last-child) {
    margin: 0 5px;
    border-bottom: 1px solid #ddd;
}

/* Search */
.sidebar__search {
    position: relative;
}
.sidebar__search .sidebar__input {
    padding: 12px 0 12px 15px;
    border: 1px solid #e6e6e6;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    color: #666;
}
.sidebar__search .sidebar__input::placeholder {
    font-size: 15px;
    font-weight: 400;
    color: #666;
}
.sidebar__search-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    border: none;
    color: #666;
    cursor: pointer;
    background-color: transparent;
    transition: color 0.3s ease-in-out;
}
.sidebar__search-btn:hover {
    color: #303030;
}

/* Section Titles */
.sidebar__title {
    font-size: 17px;
    font-weight: 500;
    color: #303030;
    font-family: "Alegreya", sans-serif;
    margin: 15px 0 10px;
}

/* Links */
.sidebar__links {
    margin-left: -10px;
    list-style: none;
}
.sidebar__links li {
    margin: 20px -20px;
    display: flex;
    align-items: center;
}
.sidebar__links li::before {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    margin-right: 10px;
    color: var(--text-color);
}
.sidebar__links li a {
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
.sidebar__links li a:hover {
    color: var(--main-color);
}
